<h1>Add comment</h1>

<form action="/add_comment" method="post">
  <input type="hidden" name="id" value="<%=@bookmark.id%>">
  <input type="text" name="comment" value="insert comment">
  <input type="submit" value="Post">
</form>
