<title>Remove Bookmarks</title>
<h1>Current bookmarks:</h1>

<form action="/bookmarks" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <% @table.each do |bookmark| %>
<input type="radio" name="id" id=<%= bookmark.title%> value=<%=bookmark.id%> > <a href=<%=bookmark.url%>><%=bookmark.title%></a><br />
<% end %>
<p>
  <input type="submit" value="Delete">
</p>
</form>
