<%= flash[:warning] %>

<title>Update Bookmarks</title>
<h1>Current bookmarks:</h1>
<ul>
  <% @table.each do |bookmark| %>
  <li>
    <a> <%="ID: #{bookmark.id}, Title: #{bookmark.title}, Url: #{bookmark.url}"%> </a>
    </li>
  <% end %>
</ul>

<form action="/update" method="post">
  <h3>Remove bookmark:</h3>
  <label for="id">
    <h4>Enter bookmark id here:</h4>
  </label>
  <input type="text" name="id">
  <label for="title">
    <h4>Enter NEW title here:</h4>
  </label>
  <input type="text" name="title">
  <label for="url">
    <h4>Enter NEW url here:</h4>
  </label>
  <input type="text" name="url">
  <input type="submit" value="Update">
</form>
